<!-- 
Coco Carragher, Gi Cort Grasso, Karla Ganon
This page receives users before they have logged in! --> 

<div class="card card-body">
  <div class="text-center py-5">
    <h1 class="display-4 mb-4">Welcome to The To-Do App</h1>
    <p class="lead mb-5">
      Organize your tasks and keep track of their status.<br>
      Never forget an important task again and always be on time!
    </p>
    
    <div class="d-flex justify-content-center gap-4">
      <%= link_to "Sign In", login_path, class: "btn btn-grclr btn-lg px-4" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-outline-grclr btn-lg px-4" %>
    </div>
  </div>
</div>