<% if todos.any? %>
  <div class="list-group">
    <% todos.each do |todo| %>
      <div class="list-group-item <%= 'list-group-item-success' if todo.completed %>">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5><%= todo.title %></h5>
            <small class="text-muted">
              Category: <%= todo.category.name if todo.category %>
            </small>
          </div>
          <div>
            <%= link_to 'View', todo, class: "btn btn-sm btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">No completed todos yet.</div>
<% end %>